<mat-toolbar color="primary">
  <span routerLink="/">Memo-Palace</span>
  <button *ngIf="isLoggedIn" mat-button routerLink="/words">Words</button>
  <button *ngIf="isLoggedIn" mat-button routerLink="/memory-palaces">Memory Palaces</button>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>account_circle</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button *ngIf="!isLoggedIn" mat-menu-item routerLink="/login">Sign In</button>
    <button *ngIf="isLoggedIn" mat-menu-item (click)="logout()">Sign Out</button>
  </mat-menu>
</mat-toolbar>
