<div class="word-show-container">
  <form [formGroup]="form">
    <mat-form-field>
      <input matInput formControlName="name" placeholder="Name">
    </mat-form-field>

    <mat-form-field>
      <input matInput formControlName="translation" placeholder="Translation">
    </mat-form-field>

    <mat-form-field>
      <input matInput formControlName="grammar" placeholder="Grammar">
    </mat-form-field>

    <mat-form-field>
      <textarea
        matInput
        formControlName="story"
        placeholder="Story"
        cdkTextareaAutosize
        #autosize="cdkTextareaAutosize"
        cdkAutosizeMinRows="1"
        cdkAutosizeMaxRows="5"></textarea>
    </mat-form-field>

    <mat-form-field>
      <mat-select formControlName="memoryPalace" placeholder="Memory Palace" [compareWith]="compareMemoryPalaces">
        <mat-option *ngFor="let palace of memoryPalaces" [value]="palace">{{palace.name}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field *ngIf="form.value.memoryPalace">
      <mat-select formControlName="memoryPalaceRoom" placeholder="Memory Palace Room" [compareWith]="compareRooms">
        <mat-option *ngFor="let room of form.value.memoryPalace.rooms" [value]="room">{{room.name}}</mat-option>
      </mat-select>
    </mat-form-field>
  </form>

  <button type="button" mat-raised-button matTooltip="Go back" [matTooltipShowDelay]="500" (click)="goBack()">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <button type="button" mat-raised-button matTooltip="Update word" [matTooltipShowDelay]="500" (click)="update()">
    <mat-icon>create</mat-icon>
  </button>
  <button type="button" mat-raised-button matTooltip="Delete word" [matTooltipShowDelay]="500" (click)="delete()">
    <mat-icon>delete</mat-icon>
  </button>
</div>
