<div class="word-create-container">
  <form [formGroup]="form">
    <mat-form-field>
      <input matInput formControlName="name" placeholder="Name">
    </mat-form-field>

    <mat-form-field>
      <input matInput formControlName="translation" placeholder="Translation">
    </mat-form-field>

    <mat-form-field>
      <input matInput formControlName="grammar" placeholder="Grammar">
    </mat-form-field>

    <mat-form-field>
      <textarea matInput formControlName="story"story placeholder="Story"></textarea>
    </mat-form-field>

    <mat-form-field>
      <mat-select formControlName="memoryPalace" placeholder="Memory Palace">
        <mat-option *ngFor="let palace of memoryPalaces" [value]="palace">{{palace.name}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field *ngIf="form.value.memoryPalace">
      <mat-select formControlName="memoryPalaceRoom" placeholder="Memory Palace Room">
        <mat-option *ngFor="let room of form.value.memoryPalace.rooms" [value]="room">{{room.name}}</mat-option>
      </mat-select>
    </mat-form-field>
  </form>

  <button type="button" mat-raised-button matTooltip="Go back" [matTooltipShowDelay]="500" (click)="goBack()">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <button type="button" mat-raised-button matTooltip="Save word" [matTooltipShowDelay]="500" (click)="create()">
    <mat-icon>create</mat-icon>
  </button>
</div>
